@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

html {
    font-size: 13px;
}

body{
    font-family: "Roboto", sans-serif;

}

a {
    text-decoration: none;
    color: unset;
}

.container {
    width: 100%;
    max-width: 1620px;
    padding: 0 50px;
    margin: 0 auto;
    @include tablet {
        padding: 0 20px;
    }
    @include mobile {
        padding: 0 10px;
    }
}

.main {
    min-height: 100vh;
    position: relative;
}

.grid {
    display: grid;
}
