$header-bg: #1a94ff;
$main-bg: #f5f5fa;
$main-color: #1a94ff;

$bc-bg-color: #101820;

$pink-color: #e89cae;
$red-color: #d81744;

$login-bg-color: #f4f4f4;

$footer-bg-color: #101820;

$yellow-color: #ffd806;

$text-main-color: #38383d;
$text-second-color: #8d8d8d;
$text-white: #fff;

$btn-main-bg: $main-color;
$btn-main-color: #fff;

$sub-header-height: 70px;

$header-height: 100px;
$header-tablet-height: 70px;
$header-mobile-height: 50px;


$box-shadow : rgba(149, 157, 165, 0.2) 0px 8px 24px;

$min-mobile-width: 320px;
$max-mobile-width: 480px;
$min-tablet-width: 481px;
$max-tablet-width: 768px;
$min-lg-width: 769px;
$max-lg-width: 1024px;

    
